.button {
    margin: 10px !important;
    width: 40px !important;
    height: 40px !important;
}
.textField{
    width: 200px !important;
    margin-left:20px !important;
    margin-right: 20px!important;

}    
  