.button {
    margin: 10px !important;
    width: 40px !important;
    height: 40px !important;
}
.textField{
    /* max-width:  200px !important; */

    margin-left:10px !important;
    margin-right: 10px!important;
    max-width: 100%!important;
    min-width: 40% !important;

}    
.errorLine{
    display: inline-block;
    background:#f0a0a0;
    width: 100%;
}

  
.defaultLine{
    display: inline-block;
    width: 100%;
    
}    

.oneButton{
    display: inline-block;
    
}

.twoButton{
    display: inline-block;
    margin-right: -60px;    
}
.root {
    flex-grow: 1;
    width: 40%;
    margin:auto
}

