.button {
    margin: 10px !important;
    width: 40px !important;
    height: 40px !important;
}
.textField{
    /* max-width:  200px !important; */

    margin-left:10px !important;
    margin-right: 10px!important;

}    
.errorLine{
    display: inline-flex;
    background:#f0a0a0;
}

  
.defaultLine{
    display: inline-flex;
    
}    

.listContainer{
    max-width:  90%;
    margin: auto;
}
  
.oneButton{
    display: inline-block;
    
}

.twoButton{
    display: inline-block;
    margin-right: -60px;    
}
